<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <!-- documentation about logback appenders configuration can be found here:
       http://logback.qos.ch/manual/appenders.html -->

  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <File>target/logs/kaleo-test.log</File>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <logger name="org.cipango.kaleo">
    <level value="DEBUG"/>
  </logger>
		
  <root>
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="file"/>
  </root>
  
</configuration>
