#properties ( $envManager.getVersion() )
#properties ($envManager.getJava() )
#properties ($envManager.getHardware() )

<a class="btn" href="dump.vm">Dump all configuration and statistics</a>
<a class="btn" href="threads-dump.vm">Dump threads</a>