#properties($sipManager.getMessageStats())

#table($sipManager.getTransactionStats())

#table($sipManager.getAppSessionStats())

#table($sipManager.getAppSessionTimeStats())

#action($field.in($sipManager).RESET_STATS)