#fileLogger($sipManager.FileLogger)

#set ($logger = $sipManager.getConsoleLogger($request))

#if ($logger.isRegistered())
	<h2>Console Log</h2>
	#if ($logger.isEnabled())
		<div class="inline">
			<form id="filterForm" method="get">
				Show &nbsp;
				<select id="maxMessages" name="maxMessages" class="span1">
					#set ($nbMessages = [4, 10, 20, 50, 200])
					#foreach ($value in $nbMessages)
						<option #if ($logger.MaxMessages == $value) selected="selected" #end >$value</option>
					#end
				</select>
				#if ($logger.Filters)
					&nbsp;last filtered messages.&nbsp;|&nbsp;
					Filter:&nbsp;
					<SELECT name="messageFilter" class="span3">
						#if ($logger.MessageFilter && $logger.MessageFilter != "")
							<option value="">Clear filter</option>
						#else
							#set ($selected = "true")
							<option value="" selected="selected">Select a filter</option>
						#end
						#foreach ($filter in $logger.Filters.keySet())
							<option value="$filter" #if ($logger.MessageFilter == $filter) selected="selected" #set ($selected = "true") #end >$logger.Filters.get($filter)</option>
						#end
						#if(!$selected)
							<option value="$logger.MessageFilter" selected="selected">$logger.getFilterTitle()</option>
						#end
					</select>
				#end
				&nbsp;&nbsp;<input type="submit" class="btn" value="Apply"/>
			</form>
			#action($logger.getClearAction()) 
			#action($logger.getStopAction()) 
			<a href="sipRawMessage.vm?messageFilter=$esc.url($logger.MessageFilter)&maxMessages=$logger.MaxMessages" class="btn">Display as log file</a>
			
			<form method="get">
				Server keeps in memory the 
				<input type="text" name="maxSavedMessages" value="$logger.getMaxSavedMessages()" class="input-mini" />
				<input type="hidden" name="action" value="msg-in-memory"/>
				last messages. 
				<input type="submit" class="btn" value="Apply"/>
			</form>
		</div>
		
		#if ($logger.Messages && $logger.Messages.size() > 0)
			<div id="callflow">
				#set ($height = 100 + $logger.Messages.size() * 25)
				<embed src="message.svg?messageFilter=$esc.url($logger.MessageFilter)&maxMessages=$logger.MaxMessages" width="790" height="$height" type="image/svg+xml" pluginspage="http://www.adobe.com/svg/viewer/install/"/>
			</div>
			
			<div id="messageLog">
				#foreach ($log in $logger.Messages)
					<a name="msg-$foreach.count"></a>
					<div class="msg-info">
						#toFilterLink($replace.toStringBuilder($log.getInfoLine()), 0, "remote", $log.Remote)
						$sb
					</div>
					#set ($sb = $replace.toStringBuilder($esc.html($log.Message)))
					#toFilterLink($sb, $sb.indexOf("Via"), "message.topVia.branch", $log.Message.getTopVia().getBranch())
					#toFilterLink($sb, $sb.indexOf("From"), "message.from.uRI.toString()", $log.Message.getFrom().getURI())
					#toFilterLink($sb, $sb.indexOf("To"), "message.to.uRI.toString()", $log.Message.getTo().getURI())
					#toFilterLink($sb, $sb.indexOf("Call-ID"), "message.callId", $log.Message.getCallId())
					#if ($log.isRequest())
						#toFilterLink($sb, 0, "message.requestURI != null and message.requestURI.toString()", $log.Message.getRequestURI())
					#end
					<pre class="message">$sb</pre>
				#end
			</div>
		#end
	#else
		#action($logger.getStartAction()) 
	#end
#end
