$response.setContentType("text/plain")
#set( $layout = "TextLayout.vm" ) 

#header1("Server")
#propertiesTxt ($envManager.getVersion())
#propertiesTxt ($envManager.getJava())
#propertiesTxt ($envManager.getHardware())

#header1("SIP")
#tableTxt($sipManager.getConnectorsConfig())
#propertiesTxt ($sipManager.getThreadPool())
#propertiesTxt ($sipManager.getTimers())
#propertiesTxt($sipManager.getMessageStats())
#tableTxt($sipManager.getTransactionStats())
#tableTxt($sipManager.getAppSessionStats())
#tableTxt($sipManager.getAppSessionTimeStats())


#header1("HTTP")
#header2("HTTP Connectors")
#foreach( $properties in $jettyManager.getConnectorsConfig() )
#propertiesTxt($properties)
#end
#propertiesTxt ($jettyManager.getHttpThreadPool())
#*
#foreach( $properties in $jettyManager.getConnectorsStatistics())
	#propertiesTxt($properties)
#end
*#

#if($diameterManager.isRegistered())
#header1("Diameter")
#propertiesTxt ($diameterManager.getNodeConfig())
#tableTxt($diameterManager.getConnectors())
#propertiesTxt ($diameterManager.getTimers())
#tableTxt($diameterManager.getPeers())
#propertiesTxt ($diameterManager.getSessionsStats() )
#foreach ($properties in  $diameterManager.getMessageStats())
	#propertiesTxt ($properties)
#end
#tableTxt($diameterManager.getPendingStats())
#end

#header1("System properties")
#foreach( $entry in $envManager.getSystemProperties().entrySet())
$entry.getKey(): $entry.getValue()
#end

#header1("Dump")
$jettyManager.dump()

###############################################################################
###                             header2                                    ####
#macro( header2 $title )


$replace.toFixedSize($title,80)
-------------------------------------------------------------------------------
#end

###############################################################################
###                               header1                                  ####
#macro( header1 $title )

===============================================================================
=$replace.toFixedSize($title,78)=
===============================================================================

#end

###############################################################################
###                             TableTxt                                   ####
#macro( tableTxt $table )
#header2($table.getTitle())
|#foreach($header in $table.getHeaders())$replace.toFixedSize($header.getName(), 25)| #end
#foreach ($row in $table)

|#foreach ($value in $row.getValues())$replace.toFixedSize($value.getValue(), 25)| #end
#end
#end

###############################################################################
###                        Properties Txt                                  ####
#macro( propertiesTxt $properties )
#if ($properties.getTitle())#header2($properties.getTitle())#end
#foreach( $property in $properties )
$property.name: $property.value
#end
#end