#set( $layout = "TextLayout.vm" )
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cipango console signin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="..">Cipango</a>
          <div class="nav-collapse">
            <ul class="nav">
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
			#if ($request.getParameter("logout"))
				$session.invalidate();
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert" type="button">&times;</button>
					Sucessful logout
				</div>
			#end
			 
			#if ($request.getParameter("authFail"))
				<div class="alert alert-error">Invalid username or password</div>
			#end
      <div class="span4">
        <form class="well" accept-charset="UTF-8" action="j_security_check" method="post">
          <fieldset class='textbox' >
            <div class="control-group">
              <input type="text" name="j_username" placeholder="Username" />
            </div>
            <div class="control-group">
              <input type="password" name="j_password" placeholder="Passsword" />
            </div>
            <div class="control-group">
              <input class="btn btn-primary" type="submit" value="Log In" />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
</body>