#set ($callIds = $sipManager.getCallIds())
<h2>List of call-IDs saved in cache</h2>
Call-IDs $math.min(1, $callIds.size()) to $math.min($callIds.size(), 100)  for a total of $callIds.size()
<br/>
#foreach ($callId in $callIds)
	<a href="?callID=$esc.url($callId)">$callId</a>
	#if ($math.mod(i,5) == 0)
		<br/>
	#elseif( $foreach.count > 100 )
		#break
	#else &nbsp;
	#end
#end

#set ($callId = $request.getParameter("callID"))
#if ($callId)
	<h2>Call with call-ID $callId</h2>
	<pre>$esc.html($sipManager.getCall($callId))</pre>
#end