
###############################################################################
###                             Table                                      ####
#macro( table $table )
	#if ($table.getTitle()) <h2>$table.getTitle()</h2> #end

	<table class="table table-striped">
		<tr>
			#foreach($header in $table.getHeaders())
				<th>$header.getName()
					#if ($header.getNote())
						&nbsp;<img src="images/question.gif" title="$header.getNote()"/>
					#end
				</th>
			#end
		</tr>

		#foreach ($row in $table)
			<tr>
				#foreach ($value in $row.getValues())
					<td>#if ($value.getValue()) $value.getValue() #end </td>
				#end
			</tr>
		#end
	</table>
#end

###############################################################################
###                        Properties                                      ####
#macro( properties $properties )
	<h2>$properties.getTitle()</h2>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Value</th>
			#if($properties.hasNotes())
				<th>Note</th>
			#end
		</tr>
		#foreach( $property in $properties )
			<tr>
				<td>$property.name</td>
				<td>$property.value</td>
				#if ($properties.hasNotes())
					<td>$property.note</td>
				#end
			</tr>
		#end
	</table>
#end

###############################################################################
###                            Action                                      ####
#macro( action $action )
	<a id="$action.getParameter()" class="btn" href="?action=$action.getParameter()">$action.getDescription()</a>
#end

###############################################################################
###                         Print graph                                    ####
#macro( printGraph $title $type)
	<h3>$title</h3>
	<img src="statistics/${type}.png?time=$time"/>
	<br/>
#end


###############################################################################
###                          File logger                                   ####
#macro( fileLogger $logger)
	#if ($logger.isRegistered())
		<h2>File Log</h2>
		All incoming and outgoing messages 
		#if ($logger.isEnabled())
			are logged
		#else
			can be logged
		#end
		#if ($logger.Filename)
			in the file $logger.Filename
		#else
			on the console
		#end
		. Traces are kept during at most $logger.RetainDays days.<br/>
		#if ($logger.isEnabled())
			#action($logger.getStopAction())
		#else
			#action($logger.getStartAction())
		#end
		#if ($logger.isDeletedSupported())
			#action($logger.getDeleteAction())
		#end
	#end
#end


###############################################################################
###                        To Filter link                                  ####
#macro( toFilterLink $sb $index $name $value)
	#set ($value = $value.toString())
	#set ($link = "<a class='filter' href='?messageFilter=${name}.equals(%27$esc.url($value)%27)'>$value</a>")
	#set ($sb = $replace.replaceOnce($sb, $index, $value, $link))
#end

