<?xml version="1.0" encoding="UTF-8"?>

<!-- nexpressoflash logback configuration file -->

<configuration>

  <!-- documentation about logback appenders configuration can be found here:
       http://logback.qos.ch/manual/appenders.html -->

  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <File>target/logs/sipunit.log</File>   
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <!-- if you need more traces, change this logger level to DEBUG -->

  <logger name="org.eclipse.jetty">
    <level value="INFO"/>
  </logger>

  <logger name="org.cipango">
    <level value="INFO"/>
  </logger>
		
  <root>
    <level value="WARN"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="file"/>
  </root>

</configuration>
